html, body {
	height: 100%;
	margin: 0;
}

#header {
	min-height: 90%;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

button {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}